@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>On this page you can manage the catalog of books<br />
	and record when they were borrowed and returned.</p>
	<p>This web app was built with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core MVC 5.0</a>.</p>
</div>
